@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root[data-theme="light"] {
  --text: #0a0f1e;
  --input: #f0f2fb;
  --primary: #3054d8;
  --secondary: #869df0;
  --background: #fafcfe;
  --input-info: #4e4e4e;
  --accent: #0d5ef4;
  --border: #bfbfbf;
}

:root[data-theme="dark"] {
  --text: #e0e6f5;
  --background: #040610;
  --primary: #274bce;
  --secondary: #0f267b;
  --input: #292c3f;
  --input-info: #959595;
  --accent: #0d5ef4;
  --border: #bfbfbf;
}

*, input, input::placeholder {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  color: var(--text);
}

option {
  font-family: "Poppins";
}

body {
  background-color: var(--background);
  padding: 1rem;
}

button {
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.spaced {
  justify-content: space-between;
}

.gap {
  gap: 5px;
}

.gap-default {
  gap: 1rem;
}

.gap-large {
  gap: 3rem;
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

/* xs */
@media screen and (orientation: portrait) {
  body {
    padding: unset;
  }

  .two-column {
    grid-template-columns: 1fr;
  }

  .container {
    padding: unset;
  }

  .row {
    flex-wrap: wrap;
  }
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */