.string-field-group {
  width: fit-content;
}

.string-field-group > input {
  background-color: var(--input);
  border-radius: 3px;
  border: 1px solid var(--border);
  padding: 0.5rem;
  width: 300px;
}

.string-field-group > p {
  font-size: 0.8rem;
}

.string-field__error {
  color: red;
}

.string-field__info {
  color: var(--input-info);
}

/* xs */
@media screen and (orientation: portrait) {
  .string-field-group {
    width: 100%;
  }
}
