.form-footer {
    padding: 1rem 1.5rem;
}

.form-footer > p:first-child {
    font-size: 2rem;
}

.form-footer > p:last-child {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: var(--input-info);
}