.form-header {
    padding: 1rem 1.5rem;
}

.form-header > p:first-child {
    font-size: 4rem;
}

.form-header > p:last-child {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: var(--input-info);
}

@media screen and (orientation: portrait) {
    .form-header > p:first-child {
        font-size: 2rem;
    }
}